
body {
  background-color: PapayaWhip;
  font-family: verdana;
}
h1 {
  color: gold;
}
h2 {
	color: green;
}
h3 {
	color: green;
}
h4 {
	color: gold;
}
p {
  color: blue;
}
ol {
	color:green;
	list-style-position:inside; 
	font-size: 80%;
}

li {
	color:blue;
	list-style-position:inside;
	}
